@keyframes moveIndex {
    0% {
        z-index: -10;
    }
    100% {
        z-index: 10;       
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
