.btn {
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 16px;
    padding: 4px 16px;
    display: inline-block;
    &:hover {
        background-color: white;
        color: $red !important;
    }

    &--center {
        min-width: 310px;
        border-radius: 35px;
        padding: 14px 16px;
        margin-top: 64px;
    }
}