// @mixin icon-slick-prev() {
// 	@include cssSprite($slick-prev);
// }

@mixin icon-hamb-white() {
	@include cssSprite($hamb-white);
}

@mixin icon-arrow-left() {
	@include cssSprite($arrow-left);
}

@mixin icon-close() {
	@include cssSprite($close);
}


