// @mixin h0() {
//     font-size: 100px;
// }
// @mixin h1() {
//     font-size: 86px;
// }
// @mixin h2() {
//     font-size: 48px;
// }
// @mixin h3() {
//     font-size: 30px;
// }
// @mixin h4() {
//     font-size: 24px;
// }
// @mixin h5() {
//     font-size: 20px;
// }
// @mixin h6() {
//     font-size: 18px;
// }
// @mixin p1() {
//     font-size: 16px;
// }
// @mixin p2() {
//     font-size: 14px;
// }

// h1, h2, h3, h4, h5, h6 {
//     font-family: 'Raleway', sans-serif;
// }
