
/* ACF Fields only to user-1 */
/* ----------------------------------------- */
	body {
		#toplevel_page_edit-post_type-acf-field-group {
			display: none;
		}
		
		&.user-1 {
			#toplevel_page_edit-post_type-acf-field-group {
				display: block !important;
			}
		}
	}
/* ----------------------------------------- ACF Fields only to user-1 */		

/* Post Titles */
/* ----------------------------------------- */
	#titlewrap {
		display: flex;
		width: 100%;
		flex-direction: column;
		#title-prompt-text {
			// position: relative;
			// padding: 0;
			margin-bottom: 12px;
			display: block !important;
			font-size: 1em;
			order: 2;			
		}
	}
/* ----------------------------------------- Post Titles */
