@include media-breakpoint-up(xl) {   
    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    body.home {
        .slick--beforeexpand {
            display: grid !important;
        }
    }
    
}