@include media-breakpoint-down(md) {
    
    /* Header */
    /* ----------------------------------------- */
        .header {
            .navbar {
                &--navigation {
                    background-color: black;
                    position: absolute;
                }
                &--container {
                    background-color: black;

                    .widget_icl_lang_sel_widget {
                        ul {
                            text-align: center;
                            li {
                                display: inline-block;
                                font-weight: 500;
                                &.wpml-ls-current-language * {
                                    color: $red;
                                }
                                a:after {
                                    content: "-";
                                    margin-left: 16px;
                                }
                                &:last-of-type a:after {
                                    display: none;
                                }
                            }
                        }
                    }

                    .navbar--medias {
                        background-color: $red;
                        text-align: center;
                        padding: 12px;
                        li {
                            display: inline-block;
                            margin-left: 10px;
                            margin-right: 10px;
                            font-size: 22px;
                        }
                    }
                }
                &--menu {
                    > li {
                        &:first-of-type {
                            margin-top: auto;
                        }
                        &:last-of-type {
                            margin-bottom: auto;
                        }
                    }
                }
            }
        }    
    /* ----------------------------------------- Header */
    
}