@include media-breakpoint-up(sm) {	
    /* Galerias */
    /* ----------------------------------------- */
        .gallery {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 32px;        
            &--item {
                margin-bottom: 0;
            }
        }
    /* ----------------------------------------- Galerias */
}