@include media-breakpoint-up(expand) {

    /* Header */
    /* ----------------------------------------- */
        .header {
            .navbar {
                &--container {
                    margin-right: 32px;
                    margin-left: 64px;
                    width: 100%;                    
                }
                &--menu {
                    display: flex;
                    justify-content: space-around;

                    li {
                        &.current_page_item a, &.current-menu-item a, a:hover {
                            color: $red;
                            border-bottom: 1px solid $red;
                        }
                    }
                }

                .widget_icl_lang_sel_widget {
                    ul {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        border-right: 1px solid white;
                        padding-right: 16px;
                        margin-right: 8px !important;
                        li {
                            flex-shrink: 0;
                            margin: 8px 5px;
                            &.wpml-ls-current-language a, a:hover {
                                color: $red;
                            }
                            a {
                                padding: 3px;
                            }           
                        }
                    }
                }

                &--medias {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    li {
                        flex-shrink: 0;
                        margin: 5px 8px;
                        font-size: 22px;
                    }
                }

            }
        }
    /* ----------------------------------------- Header */
    
    /* Home */
    /* ----------------------------------------- */
        body.home {            
            margin-top: 0;

            header.header {
                // top: calc(100vh - #{$pp--menuheight-after});
                top: initial;
                bottom: 0;
                position: absolute;
            }
        }    
    /* ----------------------------------------- Home */
    

    /* Pages */
    /* ----------------------------------------- */
        .article {
            &--h1 {
                margin-top: 200px;
            }    
            &--body {
                padding-top: 75px;
            }
        }    
    /* ----------------------------------------- Pages */    
    
    .wpcf7 {
        max-width: 752px;
        .wpcf7-submit {
            margin-right: 0;
        }
    }

    .acc {
        &--header--item {
            font-size: 24px;
        }
    }

    body.page-template-atendimento {
        footer#footer {
            margin-top: 12rem !important;
        }
    }

    /* Gallery */
    /* ----------------------------------------- */
        .gallery {
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 48px;
        }
    /* ----------------------------------------- Gallery */
        
    #breadcrumbs {
        margin-top: -48px;
        margin-bottom: 0;
    }
    
}

