
/* Colors */
/* ----------------------------------------- */
    $red: #F32A1D;
/* ----------------------------------------- Colors */

/* Types */
/* ----------------------------------------- */
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Rye', cursive;
    .text-red {
        color: $red;
    }
    .roboto {
        font-family: 'Roboto', sans-serif;
    }
    .rye {
        font-family: "Rye",cursive;
    }
/* ----------------------------------------- Types */

/* Geral */
/* ----------------------------------------- */
    body {
        background-color: black;
        color: white;
    }
    a {
        color: white;
        &:hover {
            color: $red;
            text-decoration: none;
        }
    }
    input, textarea {
        max-width: 100%;
        font-weight: 500;
        border: 1px solid #EDEDED;
        border-radius: 2px;
        padding: 8.5px 14.5px;
        width: 100%;
        
        &.wpcf7-submit {
            margin: 0 auto 30px;
            display: block;
            background-color: $red;
            color: white;
            border: 0;
            padding: 8.5px 48.5px;
            text-transform: lowercase;
            width: auto;
            cursor: pointer;
            @include transition;
            &:hover {
                color: black;
            }
        }
        &::placeholder {
            color: #8B8C9A;
        }
    }
/* ----------------------------------------- Geral */

/* WPCF7 */
/* ----------------------------------------- */
    .wpcf7-form-control-wrap {
        margin-bottom: 1rem;
        display: block;
    }    
/* ----------------------------------------- WPCF7 */


/* Header */
/* ----------------------------------------- */
    .header {
        background-color: black;

        .navbar--searchicon { display: none !important; }
        .navbar--navigation--back { display: none !important; } // For menus withtout dropdown

        .navbar {
            &--menu {
                li {
                    margin: 1rem auto;
                    a {
                        color: white;
                        font-family: 'Rye', cursive;
                        text-transform: uppercase;
                    }
                    &.current-menu-item a {
                        color: $red;
                    }

                    &.menu-item-has-children > a {
        &:after {
            content: '\f078';
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 14px;
            margin-left: 6px;
            position: relative;
            top: -2px;
            color: lightgray;
            transition: 200ms ease-in-out all;
        }
        &.active:after {
            transform: rotate(180deg);
        }
    }
                }
            }
        }
    }
/* ----------------------------------------- Header */

/* Footer */
/* ----------------------------------------- */
    footer#footer {
        margin-top: 72px;

        .copy {
            background: #F32A1D;
            padding: 11px 25px;
            line-height: 22px;
        }

        .sac {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 40px;

            > div {
                margin-bottom: 40px;

                p,a {
                    margin-bottom: 0;
                }
                &:first-of-type {
                    border-right: 1px solid #979797;
                    padding-right: 24px;
                    margin-right: 24px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
/* ----------------------------------------- Footer */

/* Carousel */
/* ----------------------------------------- */
    .carousel {
        &--unidades {
            
            .carousel--wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;                
                border-bottom: 2px solid rgba(#CAC5C5, .4);
                padding-top: 60px;
            }

            &--item {
                margin-bottom: 30px;
                a {
                    display: flex;
                    text-align: right;
                }
                svg {
                    margin-right: 30px;
                }
                
            }
        }
    }    
/* ----------------------------------------- Carousel */



/* Pages */
/* ----------------------------------------- */
    .article {
        &--header {
            background: url('../images/header--mask.jpg') no-repeat center center;
            background-size: cover;
            padding-top: 5rem;
            padding-bottom: 1.5rem;      
            margin-bottom: 1rem;
            border-bottom: 2px solid #979797;
        }
        &--h1 {
            font-family: 'Rye', cursive;      
            font-size: 46px;
            line-height: 50px;
            text-transform: uppercase;
        }
        &--body {
            padding-top: 35px;
        }
    }    
/* ----------------------------------------- Pages */


/* Page Unidades */
/* ----------------------------------------- */

    .page-template-unidades {
        #footer {
            padding-top: 48px;
            .section--unidades {
                display: none;
            }
        }
    }
    .unidades {        
        padding-top: 60px;        
    
        &--item {
            margin-bottom: 75px;
            a {
                display: flex;
                text-align: right;        
                svg {
                    flex-shrink: 0;
                }        
                span {
                    text-align: left;
                    margin-bottom: 1rem;
                    width: 100%;
                    p {
                        padding-top: 6px;
                        margin-top: 12px;
                        border-top: 1px solid #DA261A;
                    }
                }
            }
            svg {
                margin-right: 30px;
            }
            
        }
    }
/* ----------------------------------------- Page Unidades */


/* Tabs */
/* ----------------------------------------- */
    
    .tab {
        &--header {
            // display: flex;
            // flex-direction: column;
            display: none;
        }
        &--body {
            &--item {
                // overflow: hidden;
                // visibility: hidden;
                // opacity: 0;
                // height: 0;
            }
        }
        
        // After expand
        @include media-breakpoint-up(xl) {
            &--header {
                display: flex;
            }
            &--body {
                &--item {
                    &:not(.active) {
                        overflow: hidden;
                        visibility: hidden;
                        opacity: 0;
                        height: 0;
                    }
                    .tab--header--item {
                        display: none;
                    }
                }
            }
        }
        
        // Custom

        &--header {
            
            &--item {
                display: flex;
                margin-bottom: 1em;

                .icone {
                    flex-shrink: 0;
                    margin-left: auto;
                    width: 45px;
                    text-align: right;
                    order: 2;
                }

                i {
                    font-size: 2em;
                }
                h2 {
                    font-weight: 500;                    
                    font-size: 22px;        
                    margin-bottom: 0;           
                }
                p {                    
                    font-size: 14px;
                }
            }
        }

        @include media-breakpoint-up(xl) {
            &--header {
                margin-bottom: 2rem;
                &--item {
                    padding-right: 32px;
                    margin-right: 24px;
                    border-right: 1px solid #C7C6C6;
                    position: relative;
                    margin-bottom: 2rem;
                    @include transition(350ms);

                    &:after {
                        content: "";
                        border-bottom: 3px solid transparent;
                        width: calc(100% - 24px);
                        position: absolute;
                        bottom: -5px;
                        @include transition(350ms);
                    }

                    &:last-of-type {
                        border-right: 0;
                    }                    
                    &.active, &:hover {
                        cursor: pointer;
                        i { color: $red;}
                        &:after {
                            border-bottom-color: $red;
                        }
                    }
                    .icone {
                        order: -1;
                        padding-right: 24px;
                        width: auto;
                        i {
                            font-size: 3em;
                            @include transition(350ms);
                        }
                    }
                }
            }
        }
    }
    
    
    
/* ----------------------------------------- Tabs */

/* Accordion */
/* ----------------------------------------- */
    #faq {
        margin-top: 6rem;
    }

    body.page-template-atendimento {
        footer#footer {
            margin-top: 8rem !important;
        }
    }

    .acc {
        margin: 2rem 0;        
        &--faq01 {
            
            .acc {
                &--item {
                    border-bottom: 1px solid #FFFDFD;
                    padding-top: 1rem;
                    &--header {
                        cursor: pointer;
                        font-weight: 500;                        
                        color: $red;
                        padding-right: 30px;
                        position: relative;
                        &:after {
                            content: "";
                            @include icon-arrow-left;
                            @include transition;
                            display: inline-block;
                            filter: brightness(100);
                            position: absolute;
                            right: 0;
                            top: -6px;
                            transform: rotate(-90deg);
                        }
                        &:hover {
                            &:after {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                    &--body {
                        overflow: hidden;
                        height: 0;
                    }
                    &:not(.closed) {
                      .acc--item--header {
                          &:after {
                              transform: rotate(-180deg);
                          }
                      }     
                    }

                }
            }
        }
    }        
/* ----------------------------------------- Accordion */

/* Galerias */
/* ----------------------------------------- */
    .gallery {        
        margin-top: 24px;
        &--item {
            position: relative;
            width: 100%;
            height: 375px;
            display: flex;
            margin-bottom: 32px;

            .caption {
                opacity: 0;
                text-align: center;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                background: rgba(243,42,29,0.40);
                padding: 32px;
                width: 100%;
                height: 100%;
                @include transition;

                &--title {
                    font-weight: 500;
                    font-size: 18px;
                    border-bottom: 1px solid white;
                }
                &--description {                    
                    font-size: 13px;
                    text-align: left;
                }
            }

            &.no-img {
                background-color: rgba($color: #fff, $alpha: .2);
                .caption {
                    opacity: .2;
                }
            }


            &:hover, &:hover * {
                text-decoration: none !important;
                color: white !important;
            }
            
            &:hover .caption {
                opacity: 1;
            }


            &--instagram {
                a:hover {
                    opacity: .85;
                    @include transition();
                }
            }
            &--artista {
                .caption {
                    height: 100%;
                    // opacity: 1;
                    
                    &--title {
                        border-bottom: 0;
                        margin-bottom: 32px;
                    }

                    .btn {
                        &:hover {
                            color: $red !important;
                        }
                    }

                }
            }

        }
    }
/* ----------------------------------------- Galerias */


/* Single */
/* ----------------------------------------- */
    .hentry {
        .social--info {
            &:before {
                content: "";
                display: block;
                margin: 0 auto;
                border-top: 1px solid #DA261A;
                margin-bottom: 32px;
                max-width: 360px;
            }
            margin: 32px 0;            
            p {
                margin-bottom: 8px;
            }

            ul {
                display: block;
                li {
                    font-size: 26px;
                    display: inline-block;
                    margin: 8px 6px;
                }
            }
        }
    }    
/* ----------------------------------------- Single */


body.error404 {
    #content .wrapper {
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


#breadcrumbs {
    margin-top: -16px;
    margin-bottom: 32px;
}

body.single {
    .gallery {
        margin-top: 24px;
        margin-bottom: 64px;
    }
}

/* Home */
/* ----------------------------------------- */
    #content {
        background-color: black;
        position: relative;
    }
    body.home {
       
        .botoes {
            a {
                font-family: "Rye",cursive;
            }
        }
        #featured {
            position: relative;
            min-height: calc(100vh - 80px);
            display: flex;
            margin-bottom: 64px;
            overflow: hidden;

            .pp-bg-desktop {
                transition: 0 !important;
            }
    
            h1 {
                font-size: 24px;            
                max-width: 290px;
                margin: 32px auto 0;
                color: black;
            }
            img {
                max-height: 300px;
            }
        }

        #content {
            padding-top: 64px;
        }
        
        #sobre {
            .pp-bg-desktop {
                bottom: 180px;
                background-size: contain;
                background-repeat: no-repeat;
            }
            h2 {
                padding-top: 180px;
            }
            a.btn {                
                font-family: "Rye",cursive;                
                margin-top: 48px;
                padding-left: 32px;
                padding-right: 32px;
            }
        }

        .slick--beforeexpand {
            display: block !important;
            @include slick--fullwide();
            .slick-slide {
                background-color: rgba($color: #ffffff, $alpha: .1);
                margin-right: 10px;
                margin-bottom: 16px;
            }

            .slick-dots {
                text-align: center;
                position: relative;
                // top: -14px;
                li {
                    display: inline-block;
                    &.slick-active button {
                        background-color: white;
                    }
                    button {
                        appearance: none;
                        @include transition;
                        background-color: red;
                        color: transparent;
                        border: 0;
                        display: block !important;
                        border-radius: 8px;
                        height: 8px;
                        width: 8px;
                        margin: 0 4px;
                        padding: 0;
                    }
                }
            }
        }
    }
/* ----------------------------------------- Home */


/* Formulários */
/* ----------------------------------------- */
.wpcf7 {
	.uploadfieldtrick {
		font-size: 14.4px;
		font-family: "Roboto Condensed", sans-serif;
        position: relative;
        .wpcf7-form-control-wrap.curriculum {
            display: none;
        }
	}

	#fileuploadfield {
		display:none;
	}
	
	.uploadtextfield {
		display: block;
		input {
			width: 100%;
		}
	}
	
	#uploadbrowsebutton {
		padding: 11.5px;
    position: absolute;
    bottom: 0;
		right: 5px;
		cursor: pointer;
	}


}    
/* ----------------------------------------- Formulários */
