@include media-breakpoint-up(md) {    

    /* Footer */
    /* ----------------------------------------- */
        footer#footer {        
            // .sac {
            //     justify-content: flex-start;
            //     > div {                    
            //     &:last-of-type {
            //             margin-left: 72px;
            //         }
            //     }
            // }
        }

        .section--unidades {
            position: relative;
            &:before {
                position: absolute;
                right: 8px;
                top: 8px;
                content: "";
                filter: grayscale(100);
                background: url('../images/logo-kikotattoo.png') no-repeat center center;
                width: 35px;
                height: 67px;

            }            
        }

    /* ----------------------------------------- Footer */

    body.home {

        .botoes {
            margin-top: 24px;
            a {
                margin-right: 32px;
                padding: 12px 32px;
                border-radius: 24px;
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
        #sobre {
            text-align: left !important;
            padding-left: 350px;
            margin-bottom: 80px;
            .pp-bg-desktop {
                background-position: left center;
                bottom: 0;
            }
            h2 {                
                padding-top: 40px;
                &:after {
                    width: 150px;
                    border-bottom: 1px solid #FFFFFF;
                    display: block;
                    margin: 20px 0 30px;
                    content: "";
                }
            }
            a {
                float: right;
            }
        }
    }
}

