{% set counter = ( counter | default(0) ) + 1 %}

<a href="{{ tipo.images[0].url }}" title="{{ tipo.title }}" data-caption="{{ tipo.title ~ ' - ' ~ tipo.description }}" data-fancybox="gallery{{ tipo.title }}" class="gallery--item {{ tipo.images[0].ID|default('no-img') }}">
    {{ fn( 'pp_set_bg_mask', tipo.images[0] ) }}
    <div class="caption">
    <p class="caption--title">{{ tipo.title }}</p>
    <p class="caption--description">{{ tipo.description }}</p>
    </div>
</a>

{% if tipo.images %}
    {% for image in tipo.images %}
    {% set i = ( i | default(0) ) + 1 %}
    {% if i > 1 %}
        <a href="{{ image.url }}" title="{{ tipo.title }}" data-caption="{{ tipo.title ~ ' - ' ~ tipo.description  }}" data-fancybox="gallery{{ tipo.title }}" data-thumb="{{ image.url }}" class="d-none"></a>
    {% endif %}
    {% endfor %}
{% endif %}