{% extends "index.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article--content">
				<div class="article--header">
            <div class="container">
                <h1 class="article--h1">{{ fn( 'get_field', object.name ~ '_titulo', 'option' ) }}</h1>
            </div>
        </div>
				<div class="article--body">
					<div class="container">
            
            <div class="hentry">
							{{ fn( 'get_field', object.name ~ '_descricao', 'option' ) }}

							<div class="gallery">
								{% for post in posts %}		
									{% include 'content-post.twig' with { 'post': post } %}
								{% endfor %}
							</div>


							<br><br><br><br><br><br>
							{% set extra = fn( 'get_post', 84 ) %}
							<h2>{{ extra.post_title }}</h2>
							<p>{{ extra.post_content }}</p>

							{% set tipos = fn( 'get_field', 'tipos', extra.ID ) %}

              {% if tipos %}
                  
                <div class="gallery">                                
                  {# {% for tipo in tipos if tipo.image.url %} #}
                  {% for tipo in tipos|slice(0,4) %}
                    {% include '_block-tipos.twig' %}
                  {% endfor %}
                </div>

								<div class="text-center">
									<a href="{{ fn( 'get_permalink', extra.ID ) }}" title="{{ __('Ver Todos', 'kiko') }}" class="btn btn--center rye">{{ __('Ver Todos', 'kiko') }}</a>
								</div>

              {% endif %}

						</div>
          </div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}