{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="layout--grid {{body_class}}  nav--fixed"  data-template="base.twig">
		<a class="skip-link sr-only screen-reader-text" href="#content">{{ _e( 'Ir para o conteúdo') }}</a>				
		{% set headerClass = fn('apply_filters', 'pp_set_header_class', 'header' ) %}		
		<header class="header {{ headerClass }} nav--down">
			{% block header %}
				<div class="container">
					{% include "nav.twig" %}
				</div>
			{% endblock %}
		</header>
		{% block beforeContent %}			
		{% endblock %}
		<section id="content" role="main" class="content-wrapper">			
			<div class="wrapper {{wrapper_class|default('')}}">
				{% block content %}					
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>
		{% block afterContent %}			
		{% endblock %}

		{% block footer %}
			<footer id="footer" class="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
