<div class="gallery--item gallery--item--artista">									
    {{ fn( 'pp_set_bg_mask', post.get_field('avatar') ) }}
    <div class="caption">
        <p class="caption--title">{{ post.title }}</p>
        <a href="{{ post.link }}" class="btn" title="{{ post.title }}"> {{ options.ver_trabalhos }}</a>
        <a href="{{ fn( 'get_permalink', options.pagina_agendamento.ID ) ~ "?agente=" ~ post.title }}" class="btn" title="Agende seu horário"> {{ options.agendar }}</a>
    </div>
</div>