{% extends "base.twig" %}

{% block beforeContent %}		
    
    <div id="featured">
        <div class="container text-center d-flex justify-content-center align-items-center flex-column">
            {{ fn( 'pp_set_bg_mask', post.meta('featured_background').url ) }}
            {# {{ fn( 'pp_debug', post.meta('featured_background'), true ) }} #}
            <img src="{{ Image(post.meta('featured_logo')).src }}" class="img-fluid" />
            <h1>{{ post.featured_titulo }}</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
	<div class="content-wrapper">
		<div class="container">            
            {% include 'partial/section.twig' with 
                { 
                    'data': post.get_field('sobre'), 
                    'sectionID' : 'sobre'
                } 
            %}
            
            {% if artistas %}
                <div class="section mt-5" id="tattoo">
                    <div class="container">
                        
                        <h2>{{ post.tattoo_titulo }}</h2>
                        <p>{{ post.tattoo_descricao }}</p>
                                            
                        
                            <div class="gallery slick--beforeexpand">
                                {% for artista in artistas %}
                                    {% include 'content-post.twig' with { 'post': artista } %}
                                {% endfor %}
                            </div>

                        {% set botoes = post.meta('tattoo_botoes') %}
                        {% if botoes %}
                            <div class="botoes text-center my-4 mt-md-5">
                                {% for botao in botoes if botao.botao %}                                                                
                                    {% include 'acf/link.twig' with { link: botao.botao } %}                                
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            
            {% if bodypiercing %}
                <div class="section mt-5 pt-5" id="piercing">
                    <div class="container">
                        
                        <h2>{{ post.piercing_titulo }}</h2>
                        <p>{{ post.piercing_descricao }}</p>
                                            
                        
                            <div class="gallery slick--beforeexpand">
                                {% for artista in bodypiercing %}
                                    {% include 'content-post.twig' with { 'post': artista } %}
                                {% endfor %}
                            </div>

                        {% set botoes = post.meta('piercing_botoes') %}
                        {% if botoes %}
                            <div class="botoes text-center my-4 mt-md-5">
                                {% for botao in botoes if botao.botao %}                                                                
                                    {% include 'acf/link.twig' with { link: botao.botao } %}                                
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            
            

        </div>
	</div><!-- /content-wrapper --> 
{% endblock %}