{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article--content">

				<div class="article--header">
          <div class="container">
            <h1 class="article--h1">{{post.title}}</h1>
          </div>
        </div>

				<div class="article--body">
					<div class="container">
            <div class="hentry">
							{{post.content}}

              {% set tipos = post.get_field('tipos') %}
              {% if tipos %}

                <div class="gallery">                                
                  {# {% for tipo in tipos if tipo.image.url %} #}
                  {% for tipo in tipos %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {# {{ fn( 'pp_debug', tipo.images[0].url, false ) }} #}
                    <a href="{{ tipo.images[0].url }}" title="{{ tipo.title }}" data-caption="{{ tipo.description }}" data-fancybox="gallery{{ counter }}" class="gallery--item">
                      {{ fn( 'pp_set_bg_mask', tipo.images[0] ) }}
                      <div class="caption">
                        <p class="caption--title">{{ tipo.title }}</p>
                        <p class="caption--description">{{ tipo.description }}</p>
                      </div>
                    </a>

                    {% if tipo.images %}
                      {% for image in tipo.images %}
                        {% set i = ( i | default(0) ) + 1 %}
                        {% if i > 1 %}
                          <a href="{{ image.url }}" title="{{ tipo.title }}" data-caption="{{ tipo.description }}" data-fancybox="gallery{{ counter }}" data-thumb="{{ image.url }}" class="d-none"></a>
                        {% endif %}
                      {% endfor %}
                    {% endif %}

                  {% endfor %}
                </div>

              {% endif %}

              {# {{ fn( 'pp_debug', post.get_field('tipos'), false ) }} #}
						</div>
          </div>
				</div>

			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}