{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article--content">

				<div class="article--header">

                    <div class="container">
                        <h1 class="article--h1">{{post.title}}</h1>
                    </div>

                </div>

				<div class="article--body">
                    
					<div class="container">

                        <div class="hentry">

                            <h2 id="faq">{{ post.titulo_faq }}</h2>
                            <p>{{ post.descricao_faq }}</p>
                            
                            {% set data = post.meta('faq_01') %}
                            {# {{ fn( 'pp_debug', post.meta('faq_01'), true ) }} #}
                            {% if data %}
                                {% include 'accordions/faq_01.twig' with { 'items': data, 'attrs': {'ID': 'accordion'} } %}
                            {% endif %}                            

						</div>
                    </div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}