{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article--content">
				<div class="article--header">
                    <div class="container">
                        <h1 class="article--h1">{{post.title}}</h1>
                    </div>
                </div>
				<div class="article--body">
					<div class="container">
                        <div class="hentry">
							<div class="unidades">
								{% set unidades =  fn( 'get_field', 'unidades' ) %}
								{% if unidades %}
									{% for unidade in unidades %}	
										<div class="row unidades--item">
										
											<div class="col-md-6 col-expand-4">

												<a target="_blank" href="{{ fn( 'url_whatsapp', unidade.telefone ) }}">
													<svg width="48" height="48" xmlns="http://www.w3.org/2000/svg"><path d="M24.435 0C11.422 0 .872 10.468.872 23.382a23.14 23.14 0 0 0 3.38 12.074L0 48l13.046-4.145a23.612 23.612 0 0 0 11.39 2.909C37.45 46.764 48 36.294 48 23.382 48 10.468 37.45 0 24.435 0zm11.718 32.262c-.555 1.374-3.062 2.628-4.168 2.686-1.105.059-1.137.857-7.162-1.76-6.024-2.619-9.648-8.984-9.934-9.394-.286-.408-2.333-3.326-2.223-6.263.111-2.937 1.72-4.323 2.293-4.9a2.308 2.308 0 0 1 1.632-.686c.475-.008.782-.014 1.133-.001.351.013.878-.074 1.334 1.14.456 1.213 1.548 4.195 1.687 4.498.14.305.226.657.011 1.047-.215.392-.326.636-.639.973-.314.338-.661.755-.942 1.013-.312.285-.64.597-.31 1.207.328.61 1.463 2.61 3.19 4.258 2.22 2.118 4.136 2.82 4.725 3.14.591.323.944.287 1.31-.099.365-.385 1.569-1.687 1.992-2.268.424-.583.821-.468 1.366-.25.544.22 3.445 1.774 4.036 2.095.59.32.985.486 1.126.74.141.255.097 1.45-.457 2.824z" fill="#FFF" fill-rule="evenodd"/></svg>
													<span>
														{{ unidade.nome }}<br />
														{{ unidade.telefone }}
														<p>{{ unidade.descricao }}</p>
													</span>
												</a>
									
											</div>

											<div class="col-md-6 col-expand-8">											
												{{ fn( 'acf_make_map', unidade.geo ) }}
											</div>
										
										</div>
										
									{% endfor %}
								{% endif %}
								
							</div>
						</div>
                    </div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}