{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article--content">

				<div class="article--header">

                    <div class="container">
                        <h1 class="article--h1">{{post.title}}</h1>
                    </div>

                </div>

				<div class="article--body">
                    
					<div class="container">

                        <div class="hentry">                        
                            {% set secoes = fn( 'get_field', 'secoes' ) %}                            
                            {% if secoes %}                            
                                <div class="tab">   

                                    <ul class="tab--header"> 
                                        {% for secao in secoes %}
                                        {# {% set active = myCheck.a and myCheck.a == secao.titulo ? 'active' %} #}
                                        {% set active = myCheck.a and myCheck.a == loop.index ? 'active' %}
                                        {# {% loop.index == 1 %} #}
                                            <li class="tab--header--item align-items-center {{ active }}">
                                                <span class="icone">
                                                    {{ secao.icone }}
                                                </span>
                                                <h2 class="roboto">{{ secao.titulo }}</h2>
                                                <span>
                                                    {# <p>{{ secao.descricao }}</p> #}
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    

                                    <div class="tab--body">
                                        {% for secao in secoes %}
                                            {% set active = myCheck.a and myCheck.a == loop.index ? 'active' %}                                            
                                            {# {% set active = myCheck.a and myCheck.a == secao.titulo ? 'active' %}                                             #}
                                            <div class="tab--body--item {{ active }}">
                                                
                                                <div class="tab--header--item">
                                                    <span class="icone">
                                                        {{ secao.icone }}
                                                    </span>
                                                    <span>
                                                        <h2 class="roboto">{{ secao.titulo }}</h2>
                                                        <p>{{ secao.descricao }}</p>
                                                    </span>                                                    
                                                </div>                                                
                                                {# {{ fn( 'do_my_shortcode', '[contact-form-7 id="'~ secao.formulario.id ~'" ]') }} #}
                                                {{ secao.formulario }}
                                            </div>
                                            
                                        {% endfor %}
                                    
                                    
                                    </div>
                                    
                                </div>
                            {% endif %}                     

						</div>
                    </div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}