{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article--content">

				<div class="article--header">
          <div class="container">
            <h1 class="article--h1">{{post.title}}</h1>
          </div>
        </div>

				<div class="article--body">
					<div class="container">
            <div class="hentry">
							{{post.content}}

              {% set tipos = post.get_field('tipos') %}
              {% if tipos %}

                <div class="gallery">                                
                  {# {% for tipo in tipos if tipo.image.url %} #}
                  {% for tipo in tipos %}
                    {% include '_block-tipos.twig' %}
                  {% endfor %}
                </div>

              {% endif %}

              {# {{ fn( 'pp_debug', post.get_field('tipos'), false ) }} #}
						</div>
          </div>
				</div>

			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}