{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article--content">
				<div class="article--header">
                    <div class="container">
                        <h1 class="article--h1">{{post.title}}</h1>
                    </div>
                </div>
				<div class="article--body">
					<div class="container">
                        <div class="hentry">
							{{post.content}}
						</div>
                    </div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}