{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article--content">
				<div class="article--header">
                    <div class="container">
                        <h2 class="article--h1">{{options.artista_titulo}}</h2>
                    </div>
                </div>
				<div class="article--body">
					<div class="container">
                        {% include 'partial/breadcrumbs.twig' %}
                        <div class="hentry">
							<div class="row mt-5 pt-5">
                                <div class="col-md-4 col-expand-3">                                    
                                    <img src="{{ Image(post.meta('avatar')).src }}" class="img-fluid" />
                                </div>
                                <div class="col-md-8 col-expand-8 ml-auto text-center">
                                    <h1 class="text-uppercase">{{post.title}}</h1>
                                    <br>
                                    {{ post.get_field('descricao') }}

                                    {% set redes = post.get_field('redes_sociais').sociais_info %}
                                    
                                    {% if redes %}
                                        <div class="social--info">
                                            <p>{{ options.visite_minhas_redes }}</p>
                                            <ul class="navbar--medias">
                                            {% for social in redes %}
                                                <li><a title="Clique para acessar" target="_blank" href="{{ social.url_info }}">{{ social.icone_info }}</a></li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>                            

                            {% set galeria = post.get_field('galeria') %}
                            {% if galeria %}

                            <div class="row mt-5">
                                <div class="col-md-12">
                                    
                                    <h3>{{ options.conheca_meu_trabalho }}</h3>

                                    <div class="gallery">                                
                                        {% for img in galeria %}
                                            <a href="{{ img.url }}" title="{{ img.title }}" data-caption="{{ img.description }}" data-fancybox="gallery-trabalho" class="gallery--item">
                                                {{ fn( 'pp_set_bg_mask', img ) }}
                                                <div class="caption">
                                                    <p class="caption--title">{{ img.title }}</p>
                                                    <p class="caption--description">{{ img.caption }}</p>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            {% endif %}

                            {% if post.usuario_insta %}
                            
                            <div class="row mt-5">
                                <div class="col-md-12">
                                    <h3>{{ options.ultimas_do_instagram }}</h3>
                                    {{ fn( 'get_last_insta') }}
                                </div>
                            </div>

                            {% endif %}

						</div>
                    </div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}