{# 
    data =>  [
        title
        description
        cta        
        bg_cor
        bg_desktop
        bg_mobile
    ]
    hasContainer => (container, fullwidth)
    tagTitle => (true, false)
    class => [
        container
    ]
#}
{% if data %}        

    <div 
        id="{{ sectionID }}" 
        class="section clearfix {{ class.container|default('text-center') }} pos--rel "
        {{ fn('pp_set_bg_color', data ) }}
    >
        {{ fn( 'pp_set_bg_image', data ) }}

        {{ hasContainer ? '<div class="container">' }}
           
            {% if data.headline %}
                <p class="{{ class.title|default('section--headline') }}" >{{ data.headline }} </p>
            {% endif %}
            
            {% if data.titulo %}
                <{{tagTitle|default('h2')}} class="{{ class.title|default('section--subtitle') }}" >{{ data.titulo }}</{{tagTitle|default('h2')}}>
            {% endif %}

            
            {% if data.descricao %}
                <div class="{{ class.description|default('section--description') }}">{{ data.descricao }}</div>
            {% endif %}
            
            {% if data.carousel %}                
                {% include 'carousels/carousel.twig' with { data: data.carousel } %}
            {% endif %}
            
            {% if imports %}
                {% include 'imports.twig' with { imports: imports } %}
            {% endif %}

            {% if data.cta %}
                {% include 'acf/link.twig' with { link: data.cta } %}
            {% endif %}

        {{ hasContainer ? '</div>' }}
    
    </div>

{% endif %}