@mixin slick--sameheight() {
    .slick-track {
        display: flex;
        
        .slick-slide{
            display: flex;
            height: auto;
        }
    }
}

@mixin slick--fullwide($overflow: visible) {
    .slick-list {
        overflow: $overflow;        
    }
}

.slide {
    opacity: 0;
    @include transition;
}

.slick {
    
    &-initialized {
        opacity: 1;
    }

    &-slider {

    }
    
    &-track {
        // transition: 250ms ease all;        
    }
    
    &-slide {
        // transition: 250ms ease all;        
    }

    &-arrow {
        appearance: none !important;
        position: absolute;
        top: 50%;
        z-index: 20;
        font-size: 0;
        line-height: 0;
        display: block;    
        transform: translate(0, -50%);
        @include transition();
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        
        &:focus, &:active, &:hover {
            outline: none;
            opacity: .85;
        }

        &.slick-next {
            right: 55px;
        }
        &.slick-prev {
            left: 55px;
        }
        &.slick-disabled {
            opacity: .35;
        }

    }

    &--sameheight {
        @include slick--sameheight();
    }
    &--fullwide {
        // @include slick--fullwide();
    }
}






/* Slide Description on Hover */
/* ----------------------------------------- */
    @mixin carousel--description--on--hover {

        .carousel {
            &--item {
                @include transition;

                figure {
                    @include el--background;
                }
                
                &:hover {
                    
                    .carousel--title {
                        opacity: 0;
                    }
                    
                    .carousel--description {
                        opacity: 1;
                    }

                }
            }  

            &--title {
                @include parent--full;
                @include transition;                
                margin: 0;
                opacity: 1;
            }  

            &--description {
                @include transition;
                opacity: 0;
            }

        }

    }
/* ----------------------------------------- Slide Description on Hover */
